<h1 style="text-align: center; font-size: 60px;">Assignment 6</h1>
<h3 style="text-align: center; font-size: 20px;">(submitted on 9th September 2025)</h3>

In [1]:
import pandas as pd
import os

## MERGING ALL FOOD DATA GROUP FILES.

In [25]:
path = "./FINAL FOOD DATASET"
files = [file for file in os.listdir(path) if file.endswith('.csv') if not file.startswith('.')] # Ignore hidden files

all_food_data = pd.DataFrame()

for file in files:
    print(file)
    current_data = pd.read_csv(path+"/"+file)
    all_food_data = pd.concat([all_food_data, current_data])
    
all_food_data.to_csv("all_data.csv", index=False)

FOOD-DATA-GROUP1.csv
FOOD-DATA-GROUP2.csv
FOOD-DATA-GROUP3.csv
FOOD-DATA-GROUP4.csv
FOOD-DATA-GROUP5.csv

In [28]:
data = pd.read_csv("all_data.csv")
data.head()

,Unnamed: 0.1,Unnamed: 0,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,0,0,cream cheese,51,5.0,2.9,1.3,0.200,0.8,0.500,...,0.008,14.100,0.082,0.027,1.300,0.091,15.5,19.100,0.039,7.070
1,1,1,neufchatel cheese,215,19.4,10.9,4.9,0.800,3.1,2.700,...,99.500,0.034,0.100,8.500,0.088,117.300,129.2,0.054,0.700,130.100
2,2,2,requeijao cremoso light catupiry,49,3.6,2.3,0.9,0.000,0.9,3.400,...,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,5.400
3,3,3,ricotta cheese,30,2.0,1.3,0.5,0.002,1.5,0.091,...,0.097,41.200,0.097,0.096,4.000,0.024,30.8,43.800,0.035,5.196
4,4,4,cream cheese low fat,30,2.3,1.4,0.6,0.042,1.2,0.900,...,22.200,0.072,0.008,1.200,0.098,22.800,37.1,0.034,0.053,27.007

## CLEANING THE DATASET

In [34]:
#data = data.drop(columns = ["Unnamed: 0.1","Unnamed: 0"])
data.head()

,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,Dietary Fiber,...,Calcium,Copper,Iron,Magnesium,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density
0,cream cheese,51,5.0,2.9,1.3,0.200,0.8,0.500,0.9,0.0,...,0.008,14.100,0.082,0.027,1.300,0.091,15.5,19.100,0.039,7.070
1,neufchatel cheese,215,19.4,10.9,4.9,0.800,3.1,2.700,7.8,0.0,...,99.500,0.034,0.100,8.500,0.088,117.300,129.2,0.054,0.700,130.100
2,requeijao cremoso light catupiry,49,3.6,2.3,0.9,0.000,0.9,3.400,0.8,0.1,...,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,5.400
3,ricotta cheese,30,2.0,1.3,0.5,0.002,1.5,0.091,1.5,0.0,...,0.097,41.200,0.097,0.096,4.000,0.024,30.8,43.800,0.035,5.196
4,cream cheese low fat,30,2.3,1.4,0.6,0.042,1.2,0.900,1.2,0.0,...,22.200,0.072,0.008,1.200,0.098,22.800,37.1,0.034,0.053,27.007

In [65]:
#find Nulls
nan_df = data[data.isna().any(axis=1)]
display(nan_df.head())

#CONCLUSION NO NULLS

Empty DataFrame
Columns: [food, Caloric Value, Fat, Saturated Fats, Monounsaturated Fats, Polyunsaturated Fats, Carbohydrates, Sugars, Protein, Dietary Fiber, Cholesterol, Sodium, Water, Vitamin A, Vitamin B1, Vitamin B11, Vitamin B12, Vitamin B2, Vitamin B3, Vitamin B5, Vitamin B6, Vitamin C, Vitamin D, Vitamin E, Vitamin K, Calcium, Copper, Iron, Magnesium, Manganese, Phosphorus, Potassium, Selenium, Zinc, Nutrition Density, Price, Glycemic Index, Veg / Non-Veg / Egg, Is Alcoholic]
Index: []

[0 rows x 39 columns]

## DATA TRANSFORMATION

#### Adding column 'Price'

In [45]:
import numpy as np
data['Price'] = np.random.randint(10, 500, size = len(data))

#### Adding column 'Glycemic Index'

In [48]:
data['Glycemic Index'] = np.random.randint(20,120, size = len(data))

#### Adding column "Veg / Non-Veg / Egg"

In [62]:
data['Veg / Non-Veg / Egg'] = np.random.choice(['Veg', 'Non-Veg', 'Egg'], size = len(data))

#### Adding column "Is Alcoholic".

In [63]:
data['Is Alcoholic'] = np.random.choice(['Yes', 'No'], size = len(data))

In [64]:
data.head()

,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,Dietary Fiber,...,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density,Price,Glycemic Index,Veg / Non-Veg / Egg,Is Alcoholic
0,cream cheese,51,5.0,2.9,1.3,0.200,0.8,0.500,0.9,0.0,...,1.300,0.091,15.5,19.100,0.039,7.070,394,66,Veg,No
1,neufchatel cheese,215,19.4,10.9,4.9,0.800,3.1,2.700,7.8,0.0,...,0.088,117.300,129.2,0.054,0.700,130.100,197,81,Veg,No
2,requeijao cremoso light catupiry,49,3.6,2.3,0.9,0.000,0.9,3.400,0.8,0.1,...,0.000,0.000,0.0,0.000,0.000,5.400,460,24,Egg,Yes
3,ricotta cheese,30,2.0,1.3,0.5,0.002,1.5,0.091,1.5,0.0,...,4.000,0.024,30.8,43.800,0.035,5.196,242,33,Non-Veg,Yes
4,cream cheese low fat,30,2.3,1.4,0.6,0.042,1.2,0.900,1.2,0.0,...,0.098,22.800,37.1,0.034,0.053,27.007,450,24,Egg,Yes

# Questions

### Q1. Find 10 cheapest food items suitable for a hypertensive patient (less sodium, more potassium & more magnesium).

In [78]:
data.describe()[['Sodium', 'Potassium', 'Magnesium']]

            Sodium     Potassium    Magnesium
count  2395.000000   2395.000000  2395.000000
mean      0.293888    303.833939    34.429792
std       1.116117    589.507589    71.927990
min       0.000000      0.000000     0.000000
25%       0.036000     27.750000     1.500000
50%       0.086000    112.300000    10.400000
75%       0.300000    340.500000    36.950000
max      49.400000  11336.900000   921.600000

In [135]:
#considering thresholds.

sodium_threshold = 10
potassium_threshold = 700
magnesium_threshold = 100
filtered = data[
    (data['Sodium'] <= sodium_threshold) &
    (data['Potassium'] >= potassium_threshold) &
    (data['Magnesium'] >= magnesium_threshold)
]

top_10_items = filtered.sort_values(by = "Price").reset_index().head(10)

top_10_items[['food', 'Price','Sodium', 'Potassium', 'Magnesium']]
#top cheapest food for hypertensive patient.

                    food  Price  Sodium  Potassium  Magnesium
0         lamb shank raw     14   0.300     1183.9      108.9
1     pink salmon canned     15   1.700     1413.8      123.3
2     yardlong beans raw     15   0.057     1932.2      564.5
3         gjetost cheese     20   1.400     3198.4      158.9
4    pork arm picnic raw     24   2.300    11336.9      494.1
5            ling cooked     25   0.300      733.9      122.3
6       yellow beans raw     26   0.046     2042.3      435.1
7          turbot cooked     42   0.600      969.9      206.7
8  sockeye salmon canned     46   1.400     1058.2      104.5
9       banana cream pie     52   2.800     1956.9      189.8

### Q2. Find 10 cheapest food items suitable for a diabetic patient (less sugars, less carbo-hydrate) with lowest Glycemic Index (GI).

In [102]:
data.describe()[['Sugars', 'Carbohydrates','Glycemic Index']]

            Sugars  Carbohydrates  Glycemic Index
count  2395.000000    2395.000000     2395.000000
mean      4.457459      18.589021       69.539040
std      13.339929      29.406134       29.028686
min       0.000000       0.000000       20.000000
25%       0.000000       0.500000       44.000000
50%       0.086000       6.800000       70.000000
75%       3.200000      25.050000       95.000000
max     291.500000     390.200000      119.000000

In [136]:
sugar_threshold = 5
carb_threshold = 30
gi_threshold = 55

filtered = data[(data['Sugars']<=sugar_threshold) &
                (data['Carbohydrates']<=carb_threshold) &
                (data['Glycemic Index']<=gi_threshold)]

top_10_items = filtered.sort_values(by = "Price").reset_index().head(10)

top_10_items[['food', 'Price','Sugars', 'Carbohydrates', 'Glycemic Index']]
#top cheapest food for hypertensive patient.

,food,Price,Sugars,Carbohydrates,Glycemic Index
0,beef under blade steak raw,11,0.000,0.0,29
1,green olives pickled,12,0.051,0.1,40
2,napa cabbage cooked,12,0.000,2.4,45
3,lingcod raw,13,0.000,0.0,28
4,dandelion greens cooked,13,1.700,6.7,39
5,lamb shank raw,14,0.000,0.0,32
6,spearmint fresh,15,0.000,0.5,38
7,chinese cabbage pak choi cooked,15,1.400,3.0,35
8,guava,15,4.900,7.9,49
9,hot sour soup,16,1.000,10.1,25

### Q3. Find 7 costly food items with maximum nutrition value but minimum carbohydrates.

In [122]:
data.describe()[['Price', 'Nutrition Density', 'Carbohydrates']]

             Price  Nutrition Density  Carbohydrates
count  2395.000000        2395.000000    2395.000000
mean    251.139875         106.929006      18.589021
std     143.156013         173.023891      29.406134
min      10.000000           0.000000       0.000000
25%     128.000000          16.876500       0.500000
50%     247.000000          53.840000       6.800000
75%     373.500000         135.074500      25.050000
max     499.000000        3911.400000     390.200000

In [137]:
nutrition_threshold = 100
carb_threshold = 20

filtered = data[(data['Nutrition Density']>=nutrition_threshold) &
                (data['Carbohydrates']<=carb_threshold)]

top_7_nutritious_lowcarbs = filtered.sort_values(by = 'Price', ascending = False).reset_index().head(7)
top_7_nutritious_lowcarbs[['food', 'Price', 'Nutrition Density', 'Carbohydrates']]

                         food  Price  Nutrition Density  Carbohydrates
0            provolone cheese    498           1070.600            2.8
1  pork centre rib roasts raw    498            103.400            0.0
2  pumpkin squash seeds dried    498            197.000           13.8
3                     eel raw    495            109.000            0.0
4           pork shoulder raw    494            235.572            0.0
5            white grapefruit    494            131.200           19.8
6                    scup raw    493            103.111            0.0

### Q4. Find 10 cheapest food items suitable for a diabetic osteoporosis patient (less sugar, max. Calcium, max. Phosphorous, Max. Vitamin D)

In [149]:
data.describe()[['Sugars', 'Calcium', 'Phosphorus', 'Vitamin D']]

            Sugars      Calcium   Phosphorus    Vitamin D
count  2395.000000  2395.000000  2395.000000  2395.000000
mean      4.457459    52.047728   156.236052     2.190421
std      13.339929   115.933379   333.257099    12.467137
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.600000     0.800000     0.000000
50%       0.086000    13.900000    42.300000     0.000000
75%       3.200000    48.250000   171.350000     0.000000
max     291.500000  1283.500000  5490.000000   217.600000

In [179]:
# Thresholds
sugar_max = 2             
calcium_min = 0     
phosphorus_min = 0
vitamin_d_min = 2        


filtered = data[
    (data['Sugars'] <= sugar_max) &
    (data['Calcium'] >= calcium_min) &
    (data['Phosphorus'] >= phosphorus_min) &
    (data['Vitamin D'] >= vitamin_d_min)]

top10_diabetic_osteoporosis = filtered.sort_values(by='Price', ascending=True).reset_index().head(10)

top10_diabetic_osteoporosis[['food', 'Price', 'Sugars', 'Calcium', 'Phosphorus', 'Vitamin D']]

                      food  Price  Sugars  Calcium  Phosphorus  Vitamin D
0              cardoon raw     15     0.0    0.000         0.5        3.6
1         red potato baked     17     1.2    0.075         0.1       10.7
2                  avocado     21     1.8    0.078         0.4       27.0
3     chrysanthemum cooked     33     2.0    0.100         0.4       23.9
4            yellow tomato     35     0.0    0.000         0.3       19.1
5          dill weed dried     37     0.0    0.000         4.0       50.0
6        snap beans cooked     38     1.9    0.053         0.4       12.1
7      french beans cooked     38     0.0    0.000         0.7        2.1
8              collard raw     45     0.2    0.200         0.2       12.7
9  french fries deep fried     46     0.2    0.075         0.2        3.3

### Q5. Find food items rich in protein that is non-vegetarian.

In [252]:
filtered = data[data['Veg / Non-Veg / Egg']=='Non-Veg']
protein_rich_food = filtered.sort_values(by = 'Protein', ascending = False).reset_index()
protein_rich_food[['food', 'Protein', 'Veg / Non-Veg / Egg']].head(10)

                            food  Protein Veg / Non-Veg / Egg
0                 goose meat raw    259.8             Non-Veg
1         pork sirloin chops raw    205.5             Non-Veg
2               chicken meat raw    171.1             Non-Veg
3  beef under blade steak cooked    140.8             Non-Veg
4              emu fillet cooked    123.2             Non-Veg
5            pork tenderloin raw    104.3             Non-Veg
6           beef round steak raw    100.1             Non-Veg
7          veal leg round cooked     98.4             Non-Veg
8            t bone steak cooked     89.3             Non-Veg
9                 veal shank raw     86.9             Non-Veg

### Q6. Find costliest food items which are rich in all types of vitamins.

In [184]:
data.columns

Index(['food', 'Caloric Value', 'Fat', 'Saturated Fats',
       'Monounsaturated Fats', 'Polyunsaturated Fats', 'Carbohydrates',
       'Sugars', 'Protein', 'Dietary Fiber', 'Cholesterol', 'Sodium', 'Water',
       'Vitamin A', 'Vitamin B1', 'Vitamin B11', 'Vitamin B12', 'Vitamin B2',
       'Vitamin B3', 'Vitamin B5', 'Vitamin B6', 'Vitamin C', 'Vitamin D',
       'Vitamin E', 'Vitamin K', 'Calcium', 'Copper', 'Iron', 'Magnesium',
       'Manganese', 'Phosphorus', 'Potassium', 'Selenium', 'Zinc',
       'Nutrition Density', 'Price', 'Glycemic Index', 'Veg / Non-Veg / Egg',
       'Is Alcoholic'],
      dtype='object')

In [185]:
data.describe()[['Vitamin A', 'Vitamin B1', 'Vitamin B11', 'Vitamin B12', 'Vitamin B2',
       'Vitamin B3', 'Vitamin B5', 'Vitamin B6', 'Vitamin C', 'Vitamin D',
       'Vitamin E', 'Vitamin K']]

,Vitamin A,Vitamin B1,Vitamin B11,Vitamin B12,Vitamin B2,Vitamin B3,Vitamin B5,Vitamin B6,Vitamin C,Vitamin D,Vitamin E,Vitamin K
count,2395.000000,2395.000000,2395.000000,2395.000000,2395.000000,2395.000000,2395.000000,2395.000000,2395.000000,2395.000000,2395.000000,2395.000000
mean,0.771611,0.202967,0.191840,0.038691,0.197293,2.968980,0.956068,0.313942,7.854801,2.190421,0.467646,0.198753
std,11.122680,0.853208,4.166333,0.512178,0.875587,8.143257,3.233747,0.836189,82.773982,12.467137,1.663230,3.449759
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.005000,0.013000,0.000000,0.009000,0.075000,0.048000,0.029000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.059000,0.048000,0.002000,0.068000,0.600000,0.200000,0.092000,0.065000,0.000000,0.005000,0.007000
75%,0.031000,0.200000,0.083000,0.051500,0.200000,2.400000,0.800000,0.300000,1.600000,0.000000,0.300000,0.066000
max,362.700000,25.000000,177.600000,25.000000,35.000000,124.000000,74.300000,15.800000,3872.000000,217.600000,41.600000,166.400000

In [210]:
vitamin_columns = ['Vitamin A', 'Vitamin B1', 'Vitamin B11', 'Vitamin B12', 'Vitamin B2',
       'Vitamin B3', 'Vitamin B5', 'Vitamin B6', 'Vitamin C', 'Vitamin D',
       'Vitamin E', 'Vitamin K']
vitamin_thresholds = data[vitamin_columns].quantile(0.20)
vitamin_thresholds

Vitamin A      0.0000
Vitamin B1     0.0000
Vitamin B11    0.0050
Vitamin B12    0.0000
Vitamin B2     0.0000
Vitamin B3     0.0490
Vitamin B5     0.0188
Vitamin B6     0.0160
Vitamin C      0.0000
Vitamin D      0.0000
Vitamin E      0.0000
Vitamin K      0.0000
Name: 0.2, dtype: float64

In [212]:
rich_vitamins = data.copy()

for vitamin in vitamin_columns:
    rich_vitamins = rich_vitamins[rich_vitamins[vitamin] >= vitamin_thresholds[vitamin]]

costly_vitamins = rich_vitamins.sort_values(by= "Price", ascending = False).reset_index()
costly_vitamins[['food', 'Price', 'Vitamin A', 'Vitamin B1', 'Vitamin B11', 'Vitamin B12', 'Vitamin B2',
       'Vitamin B3', 'Vitamin B5', 'Vitamin B6', 'Vitamin C', 'Vitamin D',
       'Vitamin E', 'Vitamin K']].head()

,food,Price,Vitamin A,Vitamin B1,Vitamin B11,Vitamin B12,Vitamin B2,Vitamin B3,Vitamin B5,Vitamin B6,Vitamin C,Vitamin D,Vitamin E,Vitamin K
0,drumstick leaves raw,499,0.000,0.026,0.031,0.000,0.10,0.500,0.065,0.300,10.9,0.000,0.0,0.000
1,whiting cooked,499,0.064,0.040,0.075,0.045,0.05,1.200,0.200,0.100,0.0,0.027,0.3,0.075
2,vegetable juice,499,0.000,0.000,0.095,0.039,0.00,0.091,1.800,0.600,0.3,67.000,0.0,0.800
3,sunflower seeds dried,499,0.000,0.700,0.100,0.000,0.20,3.800,0.500,0.600,0.6,0.000,16.2,0.000
4,provolone cheese,498,0.300,0.013,0.017,0.005,0.40,0.200,0.600,0.052,0.0,0.028,0.3,0.001

### Q7. Food items most suitable for a cardiac patient - less carbohydrate, lowest cholesterol, max mono-unsaturated fats, max. poly unsaturated fats.

In [214]:
data.columns

Index(['food', 'Caloric Value', 'Fat', 'Saturated Fats',
       'Monounsaturated Fats', 'Polyunsaturated Fats', 'Carbohydrates',
       'Sugars', 'Protein', 'Dietary Fiber', 'Cholesterol', 'Sodium', 'Water',
       'Vitamin A', 'Vitamin B1', 'Vitamin B11', 'Vitamin B12', 'Vitamin B2',
       'Vitamin B3', 'Vitamin B5', 'Vitamin B6', 'Vitamin C', 'Vitamin D',
       'Vitamin E', 'Vitamin K', 'Calcium', 'Copper', 'Iron', 'Magnesium',
       'Manganese', 'Phosphorus', 'Potassium', 'Selenium', 'Zinc',
       'Nutrition Density', 'Price', 'Glycemic Index', 'Veg / Non-Veg / Egg',
       'Is Alcoholic'],
      dtype='object')

In [215]:
data.describe()[['Carbohydrates', 'Cholesterol', 'Monounsaturated Fats', 'Polyunsaturated Fats' ]]

       Carbohydrates   Cholesterol  Monounsaturated Fats  Polyunsaturated Fats
count    2395.000000   2395.000000           2395.000000           2395.000000
mean       18.589021     62.171937              4.133622              2.152844
std        29.406134    385.352876             12.939587              7.145738
min         0.000000      0.000000              0.000000              0.000000
25%         0.500000      0.000000              0.058000              0.071000
50%         6.800000      0.000000              0.500000              0.400000
75%        25.050000     26.450000              3.400000              1.700000
max       390.200000  10509.000000            291.100000            188.000000

In [223]:
carb_max = 5
cholestrol_max = 5
monofats_min = 5
polyfats_min = 5

filtered = data[(data['Carbohydrates']<=carb_max) &
                (data['Cholesterol']<=cholestrol_max) &
                (data['Monounsaturated Fats']>=monofats_min) & 
                (data['Polyunsaturated Fats']>=polyfats_min)]

cardiac_patient_foods = filtered.sort_values(by = 'Carbohydrates').reset_index()

cardiac_patient_foods[['food', 'Carbohydrates', 'Cholesterol', 'Monounsaturated Fats', 'Polyunsaturated Fats' ]]

,food,Carbohydrates,Cholesterol,Monounsaturated Fats,Polyunsaturated Fats
0,weetabix weetabix,0.000,0.0,68.9,57.4
1,veal pancreas cooked,0.000,0.0,12.1,6.5
2,caramel med iced coffee dunkin donuts,0.000,0.0,37.0,5.0
3,sheanut oil,0.000,0.0,95.9,11.3
4,tomatoseed oil,0.000,0.0,49.7,115.8
5,chaptti roti indian bread,0.089,0.0,99.9,17.5
6,danone low fat alsafi,0.089,0.0,11.1,7.1
7,fruchtcocktail granini,1.000,0.0,23.0,23.0
8,orangensaft ja,1.400,0.0,17.8,17.8
9,pecans roasted,3.900,0.0,12.3,7.1
10,gatto di patate home made,4.000,0.0,21.0,9.4
11,muesli master crumble,4.500,0.0,19.8,8.5
12,pili nuts dried,4.800,0.0,44.7,9.1
13,valencia peanuts roasted,4.900,0.0,6.9,5.3

### Q8. Food items suitable for a vegetarian patient deficient in Zinc & Selenium

In [251]:
zinc_threshold = 10
selenium_threshold = 0.09

filtered = data[data['Veg / Non-Veg / Egg']=='Veg']
food_items = filtered[(filtered['Zinc']>=zinc_threshold) & (filtered['Selenium']>=selenium_threshold)].reset_index()

food_items[['food', 'Zinc', 'Selenium', 'Veg / Non-Veg / Egg']].head(10)

                             food  Zinc  Selenium Veg / Non-Veg / Egg
0         beef round steak cooked  10.7     0.091                 Veg
1  beef bottom round steak cooked  26.8     0.200                 Veg
2      beef under blade steak raw  42.9     0.100                 Veg
3            veal shoulder cooked  12.6     0.091                 Veg
4            beef pancreas cooked  10.2     0.100                 Veg
5              lamp spleen cooked  11.6     0.100                 Veg
6        pork top loin roasts raw  38.0     0.600                 Veg
7               turkey breast raw  35.5     0.500                 Veg
8                   duck meat raw  17.2     0.200                 Veg
9           turkey breast roasted  35.1     0.500                 Veg

### Q9. Food items suitable for a patient with allergy to Milk, Curd & Cheese and suffering from osteoporosis (rich in calcium and Vitamin D)

In [278]:
#filter only diary products
filtered = data[~data['food'].str.contains("milk|cheese|curd", case = False, na = False)]

#adding back soymilk and milkfish
filtered = pd.concat([filtered, data[data['food'].str.contains('soymilk|milkfish', case=False, na=False)]])
filtered

,food,Caloric Value,Fat,Saturated Fats,Monounsaturated Fats,Polyunsaturated Fats,Carbohydrates,Sugars,Protein,Dietary Fiber,...,Manganese,Phosphorus,Potassium,Selenium,Zinc,Nutrition Density,Price,Glycemic Index,Veg / Non-Veg / Egg,Is Alcoholic
2,requeijao cremoso light catupiry,49,3.600,2.300,0.900,0.000,0.9,3.4,0.800,0.100,...,0.000,0.0,0.0,0.000,0.000,5.400,460,24,Egg,Yes
40,honey,64,0.000,0.000,0.000,0.000,17.3,17.2,0.080,0.025,...,0.098,0.8,10.9,0.021,0.008,18.892,438,118,Egg,No
41,apple butter,35,0.063,0.038,0.066,0.064,8.5,7.1,0.045,0.300,...,0.093,1.6,18.2,0.078,0.095,11.836,321,59,Egg,Yes
42,fruit jam,56,0.095,0.021,0.065,0.000,13.8,9.7,0.000,0.200,...,0.002,3.8,15.4,0.054,0.030,19.919,456,32,Veg,Yes
43,chocolate hazelnut spread,100,5.500,5.300,0.000,0.000,11.5,10.0,1.000,1.000,...,0.200,28.1,75.3,0.021,0.200,39.800,130,112,Veg,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2073,chocolate soymilk nonfat,107,0.046,0.000,0.000,0.012,20.7,8.9,6.000,0.500,...,0.000,211.4,255.2,0.027,0.200,310.107,169,34,Veg,Yes
2076,vanilla soymilk,131,4.300,0.500,1.000,2.300,15.3,9.7,7.900,1.500,...,0.500,126.4,286.7,0.080,0.300,91.400,50,83,Egg,Yes
2078,soymilk low fat,104,1.500,0.000,0.500,1.000,17.5,8.5,4.000,1.900,...,0.000,150.7,155.5,0.000,0.000,225.300,430,33,Veg,Yes
2082,vanilla soymilk light,83,2.100,0.200,0.600,1.400,9.4,1.0,6.400,1.500,...,0.000,250.3,284.3,0.000,0.200,319.400,156,82,Egg,Yes
2083,chocolate soymilk,153,3.700,0.600,0.900,2.000,24.2,19.1,5.500,1.000,...,36.500,0.0,123.9,347.500,0.023,35.156,402,45,Veg,Yes

In [279]:
filtered.describe()[['Calcium', 'Vitamin D']]

           Calcium    Vitamin D
count  2264.000000  2264.000000
mean     41.515813     2.311053
std      86.853358    12.811721
min       0.000000     0.000000
25%       0.300000     0.000000
50%      12.750000     0.000000
75%      42.325000     0.000000
max    1208.400000   217.600000

In [297]:
#food rich in calcium and vitamin D
calcium_threshold = 10
vitD_threshold = 0.09
food_details = filtered[(filtered['Calcium']>=calcium_threshold) & (filtered['Vitamin D']>=vitD_threshold)]
food_details[['food', 'Calcium', 'Vitamin D']].sort_values(by = "Calcium", ascending = False).reset_index()

    index                            food  Calcium  Vitamin D
0     497           sockeye salmon canned    781.8      0.090
1      64         quesadilla with chicken    484.2      0.100
2     112            biscuit with egg ham    220.8      0.093
3     114          mozzarella steak fried    107.9      0.096
4     492               american shad raw     86.5      0.097
5    1214      beef under blade steak raw     62.9      0.093
6    1366       pork boston steaks cooked     60.8      0.091
7     414                   whitefish raw     51.5      0.095
8    1397  pork country style ribs cooked     29.2      0.090
9    1174                 lamb leg cooked     29.2      0.099
10    382                      cod cooked     25.2      0.097
11    487             florida pompano raw     24.6      0.098
12   1433             turkey meat roasted     21.0      0.091
13    785                    oat bran raw     18.0      5.600
14    546           chinook salmon smoked     15.0      0.090
15   1160                   barbecue loaf     12.7      0.099
16    425           greenland halibut raw     12.2      0.100
17   1337                pork meat cooked     10.7      0.095
18    677               sponge snack cake     10.1      0.098

### Q10. Food items suitable for a teetotaller (one who doesn't drink alcohol) and maximum calorific value

In [306]:
filtered = data[data['Is Alcoholic'] == 'No']

food_items = filtered.sort_values(by = 'Caloric Value', ascending = False).reset_index()
food_items[['food', 'Caloric Value', 'Is Alcoholic']].head()

                       food  Caloric Value Is Alcoholic
0              pork backfat           3683           No
1  pork top loin roasts raw           3644           No
2          banana cream pie           3190           No
3     pork backribs roasted           2564           No
4            pork belly raw           2350           No

### Q11. Find alcoholic items in the order of increasing calorific value

In [305]:
alcoholic = data[data['Is Alcoholic'] == 'Yes']
result = alcoholic.sort_values(by = 'Caloric Value').reset_index()
result[['food', 'Caloric Value', 'Is Alcoholic']]

                                 food  Caloric Value Is Alcoholic
0     milk chocolate with rice cereal              0          Yes
1                             epazote              0          Yes
2                coffee decaffeinated              0          Yes
3                           tap water              0          Yes
4                   maitake mushrooms              0          Yes
...                               ...            ...          ...
1229               pork spareribs raw           3593          Yes
1230                    duck meat raw           5123          Yes
1231           pork arm picnic cooked           5292          Yes
1232              pork arm picnic raw           5298          Yes
1233                   goose meat raw           6077          Yes

[1234 rows x 3 columns]

### Q12. Find cheapest food items rich in dietary fiber and lowest in protein

In [307]:
data.columns

Index(['food', 'Caloric Value', 'Fat', 'Saturated Fats',
       'Monounsaturated Fats', 'Polyunsaturated Fats', 'Carbohydrates',
       'Sugars', 'Protein', 'Dietary Fiber', 'Cholesterol', 'Sodium', 'Water',
       'Vitamin A', 'Vitamin B1', 'Vitamin B11', 'Vitamin B12', 'Vitamin B2',
       'Vitamin B3', 'Vitamin B5', 'Vitamin B6', 'Vitamin C', 'Vitamin D',
       'Vitamin E', 'Vitamin K', 'Calcium', 'Copper', 'Iron', 'Magnesium',
       'Manganese', 'Phosphorus', 'Potassium', 'Selenium', 'Zinc',
       'Nutrition Density', 'Price', 'Glycemic Index', 'Veg / Non-Veg / Egg',
       'Is Alcoholic'],
      dtype='object')

In [321]:
filtered = data.sort_values(by = ['Price', 'Dietary Fiber', 'Protein'], ascending = [True, False, True]).reset_index()
filtered[(filtered['Protein']<=3.5)][['food', 'Price', 'Dietary Fiber', 'Protein']]

                      food  Price  Dietary Fiber  Protein
0                  abiyuch     10         12.100    3.400
2               radish raw     10          0.002    0.042
3            sour dressing     10          0.000    0.400
5            apricot juice     11          3.900    1.500
7                  mustard     11          0.200    0.200
...                    ...    ...            ...      ...
2379           taro cooked    497          6.700    0.700
2380          egg yolk raw    497          0.000    2.700
2390       vegetable juice    499          1.900    1.500
2391   nougat with almonds    499          0.500    0.500
2392  drumstick leaves raw    499          0.400    2.000

[1208 rows x 4 columns]

### Q13. Food items most suitable for an anaemic patient (need more iron) who have high-cholesterol.

In [323]:
#cholestrol less, iron more

data.describe()[['Iron', 'Cholesterol']]

              Iron   Cholesterol
count  2395.000000   2395.000000
mean      1.853271     62.171937
std       5.155650    385.352876
min       0.000000      0.000000
25%       0.100000      0.000000
50%       0.600000      0.000000
75%       1.800000     26.450000
max     121.200000  10509.000000

In [326]:
#thresholds
iron_thresh = data['Iron'].quantile(0.75)
chol_thresh = data['Cholesterol'].quantile(0.25)

anaemic_friendly_foods = data[(data['Iron'] >= iron_thresh) &
                              (data['Cholesterol'] <= chol_thresh)].sort_values(by = 'Iron', ascending = False).reset_index()
anaemic_friendly_foods[['food', 'Iron', 'Cholesterol']]

                                food  Iron  Cholesterol
0                       oat bran raw  40.0          0.0
1                        soybean raw  29.2          0.0
2                   winged beans raw  24.5          0.0
3                          rice bran  21.9          0.0
4                      mothbeans raw  21.3          0.0
..                               ...   ...          ...
266                  almond rice bar   1.8          0.0
267                         focaccia   1.8          0.0
268                    blueberry pie   1.8          0.0
269  chinese cabbage pak choi cooked   1.8          0.0
270             chili peppers canned   1.8          0.0

[271 rows x 3 columns]

### Q14. Cheapest 7 food items with maximum nutrition values.

In [328]:
data.describe()['Nutrition Density']

count    2395.000000
mean      106.929006
std       173.023891
min         0.000000
25%        16.876500
50%        53.840000
75%       135.074500
max      3911.400000
Name: Nutrition Density, dtype: float64

In [333]:
#thresh = 50
filtered = data[data['Nutrition Density']>=50].sort_values(by = 'Price').reset_index()
filtered[['food', 'Price', 'Nutrition Density']].head(7)

                           food  Price  Nutrition Density
0        chicken dumplings soup     10             80.269
1                       abiyuch     10            201.000
2     croissant with egg cheese     10            307.900
3  profeel proteiinirahka valio     11            194.700
4                white rice raw     11            224.500
5    beef under blade steak raw     11            283.198
6              buckwheat cooked     12             57.800

### Q15. 15 food items suitable for keto diet - maximum protein, min carbohydrates, maximum fat

In [334]:
# High protein: top 25%
protein_thresh = data['Protein'].quantile(0.75)

# Low carb: bottom 25%
carb_thresh = data['Carbohydrates'].quantile(0.25)

# High fat: top 25%
fat_thresh = data['Fat'].quantile(0.75)

In [337]:
keto_friendly = data[
    (data['Protein'] >= protein_thresh) &
    (data['Carbohydrates'] <= carb_thresh) &
    (data['Fat'] >= fat_thresh)]

top15_keto = keto_friendly.sort_values(by='Protein', ascending=False).head(15).reset_index()
top15_keto[['food', 'Protein', 'Carbohydrates', 'Fat']]

                              food  Protein  Carbohydrates    Fat
0           pork arm picnic cooked    560.3            0.0  322.7
1              pork arm picnic raw    513.6            0.0  343.4
2            turkey breast roasted    496.1            0.0  128.0
3                turkey breast raw    495.6            0.0  158.9
4         pork top loin roasts raw    468.4            0.0  182.8
5                   goose meat raw    259.8            0.0  550.7
6     pork top loin roasts roasted    224.3            0.0   74.8
7   pork centre rib roasts roasted    211.3            0.0  114.9
8           pork sirloin chops raw    205.5            0.0   23.3
9                pork backribs raw    204.2            0.0  174.9
10           pork backribs roasted    202.0            0.0  188.9
11              pork spareribs raw    200.6            0.0  303.5
12               pheasant meat raw    181.6            0.0   74.3
13                chicken meat raw    171.1            0.0  138.6
14  beef bottom round steak cooked    155.8            0.0   35.1

# END OF ASSIGNMENT 6